[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = https://github.com/kikcode/kikcode.github.io.git
	branch = main
[submodule "themes/arberia"]
	path = themes/arberia
	url = https://github.com/antedoro/arberia.git
