{{- if ne .Params.footer.enable false -}}
<footer class="footer">
  <div class="container">
    <p class="small text-center text-muted w-75 mx-auto">&copy 2023–{{ now.Year }} {{ .Site.Title}}
      {{ $len := len .Site.Menus.footer }}
      {{ range $i, $e :=  .Site.Menus.footer }}
        {{ if ne (add $i 1) $len }}
        &nbsp;⋅<a href="{{ .URL }}">{{ .Name }}</a>&nbsp;⋅
        {{else}}
        <a href="{{ .URL }}">{{ .Name }}</a>&nbsp;
      {{ end }}
      {{ end }}
  </div>
</footer>
{{end}}
